
/* Your CSS Code here. */
*{
	border:none;
}

#btn:hover{
	background-color:yellow;
	color:black;
	border-radius:30px;

}

#btn{
	background-color:black;
	border:none;
	color:white;
	border-radius:5px;
	
}